.mainDescription,
.subDescription {
    .productDetailList {
        padding: 14px 0;
        border-bottom: 1px solid #ccc;
        font-size: 14px;
        &:last-child {
            border-bottom: none;
        }

        .productTerm {
            padding-bottom: 5px;
        }

        .productDescription {
            padding-top: 5px;
        }
    }
}
