@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.login {
    @include flex(center, center);
    .loginContiner {
        width: 600px;
        padding: 50px;
        margin: 0 auto;
        color: $blackColor;
        background-color: $bgColor;
        border: $borderGray;
        font-family: 'Suisse Regular', sans-serif;
        font-weight: 300;

        .buttonWrapper {
            display: flex;
            justify-content: end;

            .closeButton {
                width: 30px;
                height: 30px;
                background: url('../../assets/images/close.png') no-repeat;
                cursor: pointer;
            }
        }

        h1 {
            padding-bottom: 50px;
            font-weight: 400;
        }

        .loginInput,
        .passwordInput {
            position: relative;
            margin-top: 50px;

            input {
                width: 100%;
                border-bottom: $borderGray;
                font-weight: 300;
                font-size: $fontSize24;
            }

            button {
                position: absolute;
                top: 5px;
                right: 10px;
                color: $grayColor;
            }

            .errorMessage {
                color: #ea6956;
            }
        }

        .buttonResetPassword {
            margin-top: 10px;
            color: $grayColor;
            font-size: $fontSize14;
            text-align: end;
        }

        .buttonLogin {
            width: 100%;
            margin: 50px 0;
            padding: 20px 100px;
            background-color: $blackColor;
            color: white;
        }

        .joinUs {
            span {
                font-weight: 400;
                font-size: $fontSize24;
            }
            .buttonSignup {
                width: 100%;
                margin-top: 25px;
                padding: 20px 100px;
                border: $borderGray;
            }
        }
    }
}
