@import '/src/styles/mixin';
@import '/src/styles/variables';

.preview {
    @include flex(center, center, column);
    width: 33.333%;
    height: 790px;
    transition: background-color 0.3s;

    .imageSection {
        @include flex(center, flex-end);
        height: 490px;

        .productImage {
            width: 330px;
            margin: 0 auto;
        }
    }

    .productInfo {
        height: 90px;
        text-align: center;

        .productName {
            margin-bottom: 10px;
        }
    }

    .productDetails {
        width: 100%;
        padding: 0 40px 30px;

        .listOfDetails {
            border-top: 2px solid #252525;

            .detailsInfo {
                display: flex;
                padding: 20px 0;
                border-bottom: 1px solid rgba(51, 51, 51, 0.2);

                .productInfoTitle {
                    margin-right: 20px;
                    color: #252525;
                    font-weight: 600;
                }

                .productInfoContent {
                    color: #666;
                }
            }
        }
    }
    .addCartButton {
        width: 100%;
        height: 60px;
        padding: 21px 23px;
        transition: opacity 0.3s;
        opacity: 0;
        background-color: #333;
        color: white;
    }
}
