@import '../../styles/mixin';

.cartList {
    padding: 50px 50px 0px;
    text-align: left;

    .orderHeader {
        @include flex(null, null, space-between);
        padding: 0 0 15px;
        border-bottom: 2.5px solid rgba(255, 254, 242, 0.1);

        .cartHeader {
            flex-basis: auto;
            width: 42%;
            color: #bcbbb4;
            font-family: 'Suisse' Medium, sans-serif;
            font-size: 1.2rem;
            line-height: 1.2;
        }

        .sizeHeader {
            flex-basis: auto;
            width: 23%;
            color: #bcbbb4;
            font-family: 'Suisse' Medium, sans-serif;
            font-size: 1.2rem;
            line-height: 1.7;
        }

        .quantityHeader {
            width: 7%;
            color: #bcbbb4;
            font-family: 'Suisse' Medium, sans-serif;
            font-size: 1.2rem;
            line-height: 1.4;
        }

        .deleteHeader {
            width: 45.21px;
        }

        .closeHeader {
            display: flex;
            flex-grow: 1;
            justify-content: end;
            .closeButtonHeader {
                width: 18px;
                height: 18px;
                padding: 0 2px;
                background: transparent;
                fill: #999;
                cursor: pointer;

                .closeButtonIcon {
                    width: 18px;
                    height: 18px;
                    filter: invert(100%);
                }
            }
        }
    }

    .cartProduct {
        .productList {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }
}
