@mixin position($top: null, $bottom: null, $left: null, $right: null) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
@mixin flex($direction: row, $align: center, $justify: center) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}
