$fontColorlightGray: #666;
$fontColorDarkGray: #333;

$fillColor: #999;

$ColorWhite: #ffffff;
$ColorWhite1: #fffef2;
$ColorLightYellow: #f0efe1;
$ColorLightYellow1: #eaeae0;
$ColorYellow: #f6f5e8;
$ColorYellow1: #ebeade;
$ColorYellow2: #f1e2cf;
$ColorBrown: #a6672b;
$ColorLightGray: #bcbcbc;
$ColorLightGray1: #bcbbb4;
$ColorLightGray2: #b7b7ae;
$ColorDarkBlack: #575757;
$ColorBlack: #252525;
