.userInput {
    margin: 0 0 30px;

    .userName {
        display: flex;
        margin-bottom: 35px;
        padding-top: 35px;

        .lastNameContent {
            width: 100%;

            .lastNameLabel {
                position: relative;

                .lastName {
                    color: #666;
                    font-size: 1.2rem;
                    line-height: 1.75;
                }

                .lastNameInput {
                    width: 100%;
                    padding: 8px 0;
                    border-bottom: 1.5px solid #cfcec4;
                    font-size: 1.9rem;
                    line-height: 1;

                    &:focus {
                        border-bottom: 1.5px solid #666;
                    }
                }
            }
        }
        .firstNameContent {
            width: 100%;
            margin-left: 30px;

            .firstNameLabel {
                position: relative;
                width: 50%;

                .firstName {
                    color: #666;
                    font-size: 1.2rem;
                    line-height: 1.75;
                }

                .firstNameInput {
                    width: 100%;

                    padding: 8px 0;
                    border-bottom: 1.5px solid #cfcec4;
                    font-size: 1.9rem;
                    line-height: 1;

                    &:focus {
                        border-bottom: 1.5px solid #666;
                    }
                }
            }
        }
    }

    .userCode {
        display: flex;
        margin-bottom: 35px;
        padding-top: 35px;

        .nationalContent {
            width: 40%;

            .nationalLabel {
                position: relative;

                .nationalCode {
                    color: #666;
                    font-size: 1.2rem;
                    line-height: 1.75;
                }

                #selectNational {
                    width: 100%;
                    border-bottom: 1.5px solid #cfcec4;
                    font-size: 1.9rem;
                    line-height: 1.75;
                    cursor: pointer;

                    option {
                        display: block;
                        min-height: 1.2em;
                        padding: 0px 2px 1px;
                        font-weight: normal;
                        white-space: nowrap;
                    }
                }
            }
        }

        .numberContent {
            width: 100%;
            margin-left: 30px;

            .numberLabel {
                position: relative;

                .phoneNumber {
                    color: #666;
                    font-size: 1.2rem;
                    line-height: 1.75;
                }

                .phoneNumberInput {
                    width: 100%;
                    border-bottom: 1.5px solid #cfcec4;
                    font-size: 1.9rem;
                    line-height: 1;

                    &:focus {
                        border-bottom: 1.5px solid #666;
                    }
                }
            }
        }
    }

    .countryContent {
        width: 100%;
        margin-bottom: 35px;
        padding-top: 35px;

        .countryLabel {
            position: relative;

            .countryName {
                color: #666;
                font-size: 1.2rem;
                line-height: 1.75;
            }
            #selectcountry {
                width: 100%;
                padding-right: 200px;
                border-bottom: 1.5px solid #cfcec4;
                font-size: 1.9rem;
                line-height: 1.75;
                cursor: pointer;
            }
        }
    }

    .userAddressContent {
        display: flex;
        width: 100%;
        margin-bottom: 35px;
        padding-top: 35px;

        .addressLabel {
            position: relative;
            width: 100%;

            .address {
                color: #666;
                font-size: 1.2rem;
                line-height: 1.75;
            }

            .addressInput {
                width: 100%;
                padding: 8px 0;
                border-bottom: 1.5px solid #cfcec4;
                font-size: 1.9rem;
                line-height: 1;

                &:focus {
                    border-bottom: 1.5px solid #666;
                }
            }
        }
    }

    .userDetailAddressContent {
        display: flex;
        width: 100%;
        margin-bottom: 35px;
        padding-top: 35px;

        .detailAddressLabel {
            position: relative;
            width: 100%;

            .detailAddress {
                color: #666;
                font-size: 1.2rem;
                line-height: 1.75;
            }

            .detailAddressInput {
                width: 100%;
                padding: 8px 0;
                border-bottom: 1.5px solid #cfcec4;
                font-size: 1.9rem;
                line-height: 1;

                &:focus {
                    border-bottom: 1.5px solid #666;
                }
            }
        }
    }
}
