@import '/src/styles/mixin';
@import '/src/styles/variables';

.carouselSection {
    position: relative;
    padding: 50px 0;
    color: #333;

    .showBox {
        display: flex;
        width: 100%;
        margin: 40px 0 30px 80px;
        overflow: hidden;

        .carouselBox {
            display: flex;

            &::-webkit-scrollbar {
                display: none;
            }

            .descriptionOfList {
                flex: 1 1 0;
                .productCategory {
                    margin-bottom: 20px;
                }
                .descriptionCategory {
                    margin-bottom: 30px;
                }

                .anchorToList {
                    .arrowToList {
                        margin-left: 20px;
                    }
                }
            }
            .productCell {
                flex: 1 1 0;
                @include flex(center, center);
                flex-direction: column;
                width: 400px;

                .allProductImage {
                    height: 326px;
                }

                .productName {
                    margin-bottom: 7px;
                }
                .productInfo {
                    color: #666;
                }
            }
        }
    }
    .totalUnderBar {
        display: flex;
        position: relative;
        height: 1px;
        margin: 0 80px 40px 80px;
        background-color: rgba(0, 0, 0, 0.2);

        .selectedUnderBar {
            position: absolute;
            top: -50%;
            width: 10%;
            height: 2px;
            background-color: rgba(0, 0, 0, 0.6);
        }
    }

    .carousleMove {
        width: 80px;
        height: 80px;
        background-color: black;
        color: white;
    }

    .moveLeft {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }

    .moveRight {
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(-100%, -50%);
    }
}
