@import '/src/styles/mixin';
@import '/src/styles/variables';

.allProducts {
    .cesopLogo {
        position: absolute;
        top: calc(80px + 74px);
        left: 40px;
        width: 120px;
    }
    .categoryTitleHolder {
        padding: 0 20px 0 40px;

        .categoryTitle {
            margin: 120px 0 20px 0;
        }
    }
}
