@import '/src/styles/mixin';
@import '/src/styles/variables';

.detailProduct {
    margin-top: 150px;
    background-color: #fffef2;
    .productDetailHeader {
        @include flex(end, center);
        margin-right: 160px;
        padding: 150px 0;
        background-color: #fffef2;
        color: #333;
        .cesopLogo {
            position: absolute;
            top: 270px;
            left: 40px;
            width: 120px;
            height: 40px;
        }
        .imageWrapper {
            @include flex(normal, center);
            flex-direction: column;
            width: 30%;
            margin-right: 100px;
            text-align: center;
            .productImage {
                width: 100%;
                height: 560px;
            }
            .messageOfEcoFrendly {
                display: block;
                width: 80%;
                margin-top: 20px;
                color: #666;
                font-size: 13px;
            }
        }
        .productContent {
            width: 30%;
            .productCategory {
                margin-bottom: 15px;
            }
            .productInfo {
                .productName {
                    color: #333;
                    font-weight: 400;
                }
                .productDescription {
                    margin-bottom: 10px;
                    padding: 30px 0;
                    border-bottom: 2px solid #333;
                }
            }

            .buttonAddToCart {
                width: 100%;
                height: 60px;
                background-color: #333;
                color: white;
            }
        }
    }
}

.howToUse {
    display: flex;
    height: 750px;
    .imageWrapper {
        width: 50%;
        .textureImage {
            width: 100%;
            height: 100%;
        }
    }

    .howToUseContent {
        width: 50%;
        padding: 150px;
        background-color: #f6f5e8;
        color: #333;
        .usageTitle {
            font-size: 14px;
        }
        .usage {
            padding-top: 10px;
            padding-bottom: 25px;
            border-bottom: 2px solid #333;
            font-size: 30px;
            font-weight: 300;
        }
    }
}

.messageToCustomer {
    padding: 0 0 100px;
    .message {
        @include flex(center, center);
        height: 130px;
        .freeService {
            align-items: center;
            width: 50%;
            margin: 77px 0;
            padding: 0 20px;
            color: #666;
            font-size: 14px;
            text-align: center;
            .serviceDescription {
                padding-top: 8px;
            }
        }
        .giftSample {
            align-items: center;
            width: 50%;
            margin: 77px 0;
            padding: 0 20px;
            border-left: 1px solid #ccc;
            color: #666;
            font-size: 14px;
            text-align: center;
            .giftDescription {
                padding-top: 8px;
            }
        }
    }
}

.productDetailList {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    .productTerm {
        padding-bottom: 5px;
    }
    .text {
        margin-bottom: 10px;
        color: #666;
    }
}
