$fontSize24: 24px;
$fontSize14: 14px;
$borderGray: 1px solid #ccc;
$bgColor: #fffef2;

.topSignUp {
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;

    .arrowLeft {
        width: 20px;
        height: 20px;
        background: url('../../assets/images/arrow_left.png') no-repeat;
        background-size: cover;
    }
    .closeButton {
        width: 20px;
        height: 20px;
        background: url('../../assets/images/close.png') no-repeat;
        background-size: cover;
    }
}

.signup {
    font-family: 'Suisse Regular', sans-serif;
    font-weight: 350;
    width: 600px;
    padding: 42px;
    color: rgb(77, 76, 76);
    background-color: #fffef2;
    border: $borderGray;

    .signupTitle {
        margin-bottom: 50px;
        h1 {
            font-weight: 350;
            margin-bottom: 20px;
        }
    }
    .wrappingInputName {
        display: flex;
        input {
            font-size: $fontSize24;
            margin-right: 10px;
            border-bottom: $borderGray;
        }
    }
    .wrappingInput {
        input {
            width: 100%;
            margin-top: 70px;
            margin-bottom: 30px;
            font-size: 24px;
            border-bottom: $borderGray;
        }
    }
}

.checkBox {
    padding: 30px;
    .checkList {
        input {
            margin-bottom: 20px;
        }
    }
}

.signUpBottom {
    button {
        background-color: #333333;
        color: white;
        width: 100%;
        height: 50px;
    }
    a {
        font-size: $fontSize14;
        padding-top: 20px;
        display: block;
        text-align: center;
    }
}
