@import '../../styles/mixin';

.modal {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #fffef2;

    .modalWrapper {
        @include flex(null, center, space-between);
        height: 80px;
        padding-right: 40px;
        padding-left: 40px;
        border-bottom: 1px solid rgba(51, 51, 51, 0.2);

        .modalCategory {
            a {
                padding: 4px;
            }

            .search {
                width: 18px;
                height: 22px;
                background-image: url(../../assets/images/search.png);
                background-repeat: no-repeat;
                background-size: cover;
            }

            .close {
                margin-left: 20px;
            }
        }

        .modalUl {
            display: flex;
            align-items: center;
            height: 80px;
        }

        .modalLi {
            display: flex;
            margin-right: 1.3vw;
            font-size: 13px;
            pointer-events: auto;
        }

        .navButton {
            margin-right: 1.3vw;
            padding: 4px;
        }
    }

    .modalBody {
        z-index: 100;
        height: 100vh;
        background-color: #f0efe0;

        .loadingMessage {
            margin-left: 30px;
        }
    }
}
