.test {
    height: 1000px;
    opacity: 0.8;
    background-color: black;
    .buttonLogin {
        height: 50px;
        background-color: yellowgreen;
        color: white;
        font-weight: 700;
    }
}
