@import '../../styles/mixin';
@import '../../styles/variables';

.banner {
    .alertBanner {
        z-index: 500;
        height: 43px;

        .alertList {
            margin: 0;
            background-color: $ColorBrown;
            color: $ColorWhite1;
            font-size: 14px;

            .alertBody {
                margin-left: 10px;
                padding: 11px 20px;
                line-height: 1.5;
                text-align: center;
            }
        }
    }

    .shippingBanner {
        width: 100%;
        height: 43px;
        padding: 12px 20px 8px;
        background-color: $ColorBlack;

        .shippingContent {
            @include flex(center, center, row);

            .shippingButton {
                @include flex(null, center, null);
                margin: 0;
                padding: 0;
                background: transparent;

                .shippingMesssage {
                    flex-grow: 2;
                    color: $ColorWhite1;
                    font-size: 14px;
                    line-height: 1.5;
                }
            }
        }
    }
}
