@import '/src/styles/mixin';
@import '/src/styles/variables';

.carousel {
    position: relative;
    padding: 50px 0;
    color: #333;

    .showBox {
        display: flex;

        overflow: hidden;

        .carouselBox {
            display: flex;
            margin: 40px 0 30px 80px;

            &::-webkit-scrollbar {
                display: none;
            }

            .descriptionOfList {
                flex: 1 1 0;

                .productCategory {
                    margin-bottom: 20px;
                }
                .descriptionCategory {
                    margin-bottom: 30px;
                }

                .anchorToList {
                    .arrowToList {
                        margin-left: 20px;
                    }
                }
            }
            .productCell {
                flex: 1 1 0;
                @include flex(center, center, column);
                width: calc(100vw / 4);
                height: 432px;

                .allProductImage {
                    width: auto;
                    height: 80%;
                }

                .productName {
                    margin-bottom: 7px;
                }
                .productInfo {
                    color: #666;
                }
            }
        }
    }
    .totalIndicator {
        display: flex;
        position: relative;
        height: 1px;
        margin: 0 80px 40px 80px;
        background-color: rgba(0, 0, 0, 0.2);

        .selectedIndicator {
            position: absolute;
            top: -50%;
            height: 2px;
            background-color: rgba(0, 0, 0, 0.6);
        }
    }

    .carousleMove {
        width: 80px;
        height: 80px;
        background-color: black;
        color: white;
    }

    .moveLeft {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }

    .moveRight {
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(-100%, -50%);
    }
}
