@import '/src/styles/mixin';
@import '/src/styles/variables';

.carousel {
    position: relative;
    padding: 50px 0;
    overflow: hidden;
    color: #333;

    &:nth-child(odd) {
        background-color: rgb(246, 245, 232);
    }

    &:nth-child(even) {
        background-color: rgb(235, 234, 222);
    }

    .showBox {
        display: flex;
        overflow: hidden;

        .carouselBox {
            display: flex;
            margin: 40px 0 30px 80px;

            &::-webkit-scrollbar {
                display: none;
            }

            .productCell {
                @include flex(center, center, column);
                width: calc(100vw / 4);
                height: 432px;

                .allProductImage {
                    width: auto;
                    height: 80%;
                }

                .productName {
                    margin-bottom: 7px;
                }
                .productInfo {
                    color: #666;
                }
            }
        }

        .carousleMove {
            width: 80px;
            height: 80px;
            overflow: hidden;
            background-color: #333;
            color: white;

            .arrowInButton {
                font-size: 20px;
                font-weight: 600;
            }
        }

        .movePrev {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            animation: prevAnimation 0.5s;

            @keyframes prevAnimation {
                from {
                    transform: translate(-100%, -50%);
                }
                to {
                    transform: translate(0, -50%);
                }
            }
        }

        .moveNext {
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translate(-100%, -50%);
            animation: nextAnimation 0.5s;

            @keyframes nextAnimation {
                from {
                    transform: translate(0, -50%);
                }
                to {
                    transform: translate(-100%, -50%);
                }
            }
        }
    }
    .totalIndicator {
        display: flex;
        position: relative;
        height: 1px;
        margin: 0 80px 40px 80px;
        background-color: rgba(0, 0, 0, 0.2);

        .selectedIndicator {
            position: absolute;
            top: -50%;
            height: 2px;
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
}
